###FORM_RADIO###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS###">
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td style="width:200px;"><label class="tx_mailform_label_radio tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label></td>
			<td>###OUTPUT_FORMELEMENT###</td><td>###OUTPUT_ICON###</td>
		</tr>
	</table>
</div>
###END_FORM_RADIO###