###FORM_DEFAULT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS###" style="###OUTPUT_EXTRA_STYLE###">
	<table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
		<td><label class="tx_mailform_label_default" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td><td>###OUTPUT_ICON###</td>
		</tr>
	</table>
</div>
###END_FORM_DEFAULT###

###FORM_TEXT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_text" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_input"><input type="text" value="###OUTPUT_FORMVALUE###" size="###OUTPUT_FORMSIZE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS###"###OUTPUT_ADDATTRIBUTES### /></div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_1">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXT###

###FORM_TEXT[float]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_text-float" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_input"><input type="text" value="###OUTPUT_FORMVALUE###" size="###OUTPUT_FORMSIZE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS###"###OUTPUT_ADDATTRIBUTES### /></div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXT[float]###

###FORM_TEXT[float_ohnelabel]###
<div class="tx_mailform_field_text-float_ohnelabel" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_input"><input type="text" value="###OUTPUT_FORMVALUE###" size="###OUTPUT_FORMSIZE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS###"###OUTPUT_ADDATTRIBUTES### /></div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXT[float_ohnelabel]###

###FORM_TEXT[float_labelrechts]###
<div class="tx_mailform_field_text-float_labelrechts" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_input">&nbsp;<input type="text" value="###OUTPUT_FORMVALUE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS### tx_mailform_field_text-float_labelrechts_input"###OUTPUT_ADDATTRIBUTES### /></div>
	<div class="tx_mailform_div_label_left_nowidth">&nbsp;###OUTPUT_LABEL###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXT[float_labelrechts]###

###FORM_TEXTWDESC###
<div class="tx_mailform_field_textwdesc" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_input"><input type="text" value="###OUTPUT_FORMVALUE###" size="###OUTPUT_FORMSIZE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS###"###OUTPUT_ADDATTRIBUTES### /><br />
	###OUTPUT_DESCRIPTION###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_block">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXTWDESC###

###FORM_TEXTWDESC[anderes_textfeld]###
<div class="tx_mailform_field_textwdesc-anderes_textfeld" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_input"><input type="text" value="###OUTPUT_FORMVALUE###" size="###OUTPUT_FORMSIZE###" id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" class="tx_mailform_text###OUTPUT_FORMCLASS###"###OUTPUT_ADDATTRIBUTES### /></div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_block">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXTWDESC[anderes_textfeld]###

###FORM_TEXTAREA###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_textarea" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_input"><textarea id="###OUTPUT_FORMID###" name="###OUTPUT_FORMNAME###" rows="###OUTPUT_FORMROWS###" cols="###OUTPUT_FORMCOLS###" class="tx_mailform_textarea"###OUTPUT_ADDATTRIBUTES###>###OUTPUT_FORMVALUE###</textarea></div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_1">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_TEXTAREA###

###FORM_SELECT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_select" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_select tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select_width">###OUTPUT_FORMELEMENT###</div>
	<div class="tx_mailform_div_icon">&nbsp;###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-none">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_SELECT###

###FORM_SELECT[float_left_withlabel]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_select-float_left_withlabel" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_select tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-left">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_SELECT[float_left_withlabel]###

###FORM_SELECT[float_left]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_select-float_left" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-left">###OUTPUT_ERR_MSG###</div>
</div>
###END_FORM_SELECT[float_left]###

###FORM_CHECKBOX###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_checkbox" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_checkbox tx_mailform_label_global">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT######OUTPUT_FORMHIDDEN###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-none">&nbsp;###OUTPUT_ERR_MSG###</div>
</div>
###SUBEL_WRAP###
<div class="tx_mailform_checkbox_wrap">###OUTPUT_ELEMENTS###</div>
###END_SUBEL_WRAP###
###SUBEL_SINGLEELEMENT###
<div class="tx_mailform_checkbox_element ###OUTPUT_CLASS###"><input class="mailform_checkbox_box" type="checkbox" id="###OUTPUT_FIELDID###" name="###OUTPUT_FIELDNAME###" value="###OUTPUT_FIELDVALUE###" ###OUTPUT_SELECTED###/><label class="tx_mailform_cb_label" for="###OUTPUT_FIELDID###">###OUTPUT_FIELDDISPLAY###</label></div>
###END_SUBEL_SINGLEELEMENT###
###END_FORM_CHECKBOX###

###FORM_CHECKBOX[javascript_onchange]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_checkbox" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_checkbox tx_mailform_label_global">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT######OUTPUT_FORMHIDDEN###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-none">&nbsp;###OUTPUT_ERR_MSG###</div>
</div>
###SUBEL_WRAP###
<div class="tx_mailform_checkbox_wrap">###OUTPUT_ELEMENTS###</div>
###END_SUBEL_WRAP###
###SUBEL_SINGLEELEMENT###
<div class="tx_mailform_checkbox_element ###OUTPUT_CLASS###" style="width:150px;"><input class="mailform_checkbox_box" type="checkbox" id="###OUTPUT_FIELDID###" name="###OUTPUT_FIELDNAME###" value="###OUTPUT_FIELDVALUE###" onchange="changeVisibility('tx_mailform_div-item-566-FTK500TWM-0', 'div-outer-id-0-0-4');" ###OUTPUT_SELECTED###/><label class="tx_mailform_cb_label" for="###OUTPUT_FIELDID###">###OUTPUT_FIELDDISPLAY###</label></div>
###END_SUBEL_SINGLEELEMENT###
###END_FORM_CHECKBOX[javascript_onchange]###

###FORM_CHECKBOX[javascript_onchange_second]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_checkbox" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_checkbox tx_mailform_label_global">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT######OUTPUT_FORMHIDDEN###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-none">&nbsp;###OUTPUT_ERR_MSG###</div>
</div>
###SUBEL_WRAP###
<div class="tx_mailform_checkbox_wrap">###OUTPUT_ELEMENTS###</div>
###END_SUBEL_WRAP###
###SUBEL_SINGLEELEMENT###
<div class="tx_mailform_checkbox_element ###OUTPUT_CLASS###"><input class="mailform_checkbox_box" type="checkbox" id="###OUTPUT_FIELDID###" name="###OUTPUT_FIELDNAME###" value="###OUTPUT_FIELDVALUE###" onchange="changeSecondReferend();" ###OUTPUT_SELECTED###/><label class="tx_mailform_cb_label" for="###OUTPUT_FIELDID###">###OUTPUT_FIELDDISPLAY###</label></div>
###END_SUBEL_SINGLEELEMENT###
###END_FORM_CHECKBOX[javascript_onchange]###

###FORM_CHECKBOX[javascript_onchange_third]###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_checkbox" style="###OUTPUT_EXTRA_STYLE###">
	<div class="tx_mailform_div_label_left"><label class="tx_mailform_label_checkbox tx_mailform_label_global">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</div>
	<div class="tx_mailform_div_output_select-check">###OUTPUT_FORMELEMENT######OUTPUT_FORMHIDDEN###</div>
	<div class="tx_mailform_div_icon">###OUTPUT_ICON###</div>
	<div class="tx_mailform_div_err_msg_float-none">&nbsp;###OUTPUT_ERR_MSG###</div>
</div>
###SUBEL_WRAP###
<div class="tx_mailform_checkbox_wrap">###OUTPUT_ELEMENTS###</div>
###END_SUBEL_WRAP###
###SUBEL_SINGLEELEMENT###
<div class="tx_mailform_checkbox_element ###OUTPUT_CLASS###"><input class="mailform_checkbox_box" type="checkbox" id="###OUTPUT_FIELDID###" name="###OUTPUT_FIELDNAME###" value="###OUTPUT_FIELDVALUE###" onchange="changeSecondReferend();" ###OUTPUT_SELECTED###/><label class="tx_mailform_cb_label" for="###OUTPUT_FIELDID###">###OUTPUT_FIELDDISPLAY###</label></div>
###END_SUBEL_SINGLEELEMENT###
###END_FORM_CHECKBOX[javascript_onchange]###

###FORM_RADIO###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_radio" style="###OUTPUT_EXTRA_STYLE###">
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="tx_mailform_td_label"><label class="tx_mailform_label_checkbox tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>
###OUTPUT_FORMELEMENT###
###OUTPUT_FORMHIDDEN###
###SUBEL_WRAP###
<div class="tx_mailform_checkbox_wrap">###OUTPUT_ELEMENTS###</div>
###END_SUBEL_WRAP###
###SUBEL_SINGLEELEMENT###
<div class="tx_mailform_radio_element ###OUTPUT_CLASS###"><input class="mailform_radio_box" type="radio" id="###OUTPUT_FIELDID###" name="###OUTPUT_FIELDNAME###" value="###OUTPUT_FIELDVALUE###" ###OUTPUT_SELECTED###/><label class="tx_mailform_cb_label" for="###OUTPUT_FIELDID###">###OUTPUT_FIELDDISPLAY###</label></div>
###END_SUBEL_SINGLEELEMENT###
			</td>
			<td>###OUTPUT_ICON###</td><td>###OUTPUT_ERR_MSG###</td>
		</tr>
	</table>
</div>
###END_FORM_RADIO###

###FORM_PASSWORD###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_password" style="###OUTPUT_EXTRA_STYLE###">
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="tx_mailform_td_label"><label class="tx_mailform_label_password tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td><td>###OUTPUT_ICON###</td><td>###OUTPUT_ERR_MSG###</td>
		</tr>
	</table>
</div>
###END_FORM_PASSWORD###

###FORM_HIDDEN###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS###" style="###OUTPUT_EXTRA_STYLE###">
  ###OUTPUT_FORMELEMENT###
</div>
###END_FORM_HIDDEN###

###FORM_SUBMIT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_submit" style="###OUTPUT_EXTRA_STYLE###">
	<table summary="" cellpadding="0" cellspacing="0" border="0">
			<tr><td class="tx_mailform_td_label"><label class="tx_mailform_label_submit tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td>
		</tr>
	</table>
</div>
###END_FORM_SUBMIT###

###FORM_SUBMITIMAGE###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_submitimage" style="###OUTPUT_EXTRA_STYLE###">
	<table summary="" cellpadding="0" cellspacing="0" border="0">
			<tr><td class="tx_mailform_td_label"><label class="tx_mailform_label_submit tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td>
		</tr>
	</table>
</div>
###END_FORM_SUBMITIMAGE###

###FORM_SUBMITEXTENDED###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_submitextended" style="###OUTPUT_EXTRA_STYLE###">
	<table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="tx_mailform_td_label"><label class="tx_mailform_label_submit tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td>
		</tr>
	</table>
</div>
###END_FORM_SUBMITEXTENDED###

###FORM_FILE###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_file" style="###OUTPUT_EXTRA_STYLE###">
	<table summary="file" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td rowspan="4" class="tx_mailform_td_label"><label class="tx_mailform_label_file tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
		</tr>
		<tr>
			<td colspan="2">###OUTPUT_FORMELEMENT###</td>
		</tr>
		<tr>
			<td>###OUTPUT_ICON###</td>
			<td>###OUTPUT_ERR_MSG###</td>
		</tr>
		<tr>
			<td colspan="2"><input class="tx_mailform_navi_reload" type="submit" name="###OUTPUT_FORMNAME###" value="###OUTPUT_FORMVALUE###" />###OUTPUT_FORMHIDDEN###</td>
		</tr>
	</table>
</div>
###END_FORM_FILE###

###FORM_CAPTCHA###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_captcha" style="###OUTPUT_EXTRA_STYLE###">
  <label class="tx_mailform_label_captcha tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td>###OUTPUT_CAPTCHA_IMAGE###</td><td>###OUTPUT_ICON###</td>
			<td>###OUTPUT_ERR_MSG###</td>
			<td>###OUTPUT_CAPTCHA_RELOAD###</td>
		</tr>
		<tr>
		  <td>###OUTPUT_FORMELEMENT######OUTPUT_FORMHIDDEN###</td><td colspan="3">###OUTPUT_CAPTCHA_NOTICE###</td>
		</tr>
	</table>
</div>
###END_FORM_CAPTCHA###

###FORM_STATICCOUNTRY###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_staticcountry" style="###OUTPUT_EXTRA_STYLE###">
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="tx_mailform_td_label"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
			<td>###OUTPUT_FORMELEMENT###</td>
			<td>###OUTPUT_ICON###</td>
			<td>###OUTPUT_ERR_MSG###</td>
		</tr>
	</table>
</div>
###END_FORM_STATICCOUNTRY###

###FORM_CONTELEMENT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_field_contelement" style="###OUTPUT_EXTRA_STYLE###">
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr>
		<td class="tx_mailform_td_label"><label class="tx_mailform_label_global tx_mailform_label_text" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###</td>
		<td>###OUTPUT_FORMELEMENT###</td>
	</table>
</div>
###END_FORM_CONTELEMENT###

###LAYOUT_DEFAULT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_layout_default" style="###OUTPUT_EXTRA_STYLE###">
  <label class="tx_mailform_label_layout_default tx_mailform_label_global" for="###OUTPUT_INPUT_ID###">###OUTPUT_LABEL###</label>###OUTPUT_REQUIRED_STAR###
  <table summary="" cellpadding="0" cellspacing="0" border="0">
		<tr><td>###OUTPUT_FORMELEMENT###</td><td>###OUTPUT_ICON###</td></tr>
	</table>
</div>
###END_LAYOUT_DEFAULT###

###LAYOUT_SEPARATOR###
###OUTPUT_FORMELEMENT###
###END_LAYOUT_SEPARATOR###

###LAYOUT_TITLE###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_layout_title" style="###OUTPUT_EXTRA_STYLE###">
	<h3>###OUTPUT_FORMELEMENT###</h3>
</div>
###END_LAYOUT_TITLE###

###LAYOUT_HTMLELEMENT###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_layout_htmlelement" style="###OUTPUT_EXTRA_STYLE###">
###OUTPUT_FORMELEMENT###
</div>
###END_LAYOUT_HTMLELEMENT###

###LAYOUT_HTMLELEMENT[without_container]###
###OUTPUT_FORMELEMENT###
###END_LAYOUT_HTMLELEMENT[without_container]###

###LAYOUT_HTMLELEMENT[without_container]###
###OUTPUT_FORMELEMENT###
###END_LAYOUT_HTMLELEMENT[without_container]###

###LAYOUT_ERROR###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_layout_error" style="###OUTPUT_EXTRA_STYLE###">
<div class="tx_mailform_div_label_error">###OUTPUT_LABEL###</div>
###SUBEL_ERRORLIST###
<li>###OUTPUT_FIELDERRORIMG### ###OUTPUT_FIELDLABEL###: ###OUTPUT_FIELDERRORMSG###</li>
###END_SUBEL_ERRORLIST###
</div>
###END_LAYOUT_ERROR###

###NAVI_PAGENAVI###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_navi_pagenavi" style="###OUTPUT_EXTRA_STYLE###">
<div class="tx_mailform_label_navi_pagenavi">###OUTPUT_LABEL###</div>
<div class="tx_mailform_pagenavi">###OUTPUT_FORMELEMENT###</div>
</div>
###END_NAVI_PAGENAVI###

###NAVI_NEXTPAGE###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_navi_nextpage" style="###OUTPUT_EXTRA_STYLE###">
<div class="tx_mailform_div_label_left tx_mailform_label_navi_nextpage">###OUTPUT_LABEL###</div>
<div class="tx_mailform_nextpage">
<input class="tx_mailform_navi_nextpage" type="submit" name="###OUTPUT_FORMNAME###" value="###OUTPUT_FORMVALUE###" />
###OUTPUT_FORMELEMENT###</div>
</div>
###END_NAVI_NEXTPAGE###

###NAVI_PREVIOUSPAGE###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_navi_previouspage" style="###OUTPUT_EXTRA_STYLE###">
<div class="tx_mailform_div_label_left tx_mailform_label_navi_previouspage">###OUTPUT_LABEL###</div>
<div class="tx_mailform_previouspage">
<input class="tx_mailform_navi_previouspage" type="submit" name="###OUTPUT_FORMNAME###" value="###OUTPUT_FORMVALUE###" />
###OUTPUT_FORMELEMENT###</div>
</div>
###END_NAVI_PREVIOUSPAGE###

###NAVI_RESET###
<div id="###OUTPUT_FIELD_ID###" class="###OUTPUT_EXTRA_CSS### tx_mailform_navi_reset" style="###OUTPUT_EXTRA_STYLE###">
<div class="tx_mailform_label_navi_reset">###OUTPUT_LABEL###</div>
<div class="tx_mailform_reset">###OUTPUT_FORMELEMENT###</div>
</div>
###END_NAVI_RESET###
